.Header {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-left: 10px;
    grid-gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    background: lightblue;
}

.Header h1 {
    grid-column-start: 2;
    display: grid;
    justify-content: center;
    font-size: 4rem;
    margin: 0;
}