.PokeSearch {
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
    margin: 10px;
    height: 50px;
    font-size: 1.5rem;
}

select {
    margin: 10px;
    height: 50px;
    font-size: 1.5rem;
}

button {
    margin: 10px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}